@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  /* hero */

  body {
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 17);
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 88vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.652) 0,
        rgba(0, 0, 0, 0.802) 40%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.652) 100%
      ),
      url('./images/netflix-hero.jpg');
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px 30px 15px;
    height: 55px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.802) 40%,
      rgba(0, 0, 0, 0.012) 100%
    );
  }

  #logo {
    max-width: 30%;
  }

  #sign-in {
    padding: 4px 7px;
    font-family: 500;
    background-color: #e50914;
    border: none;
    border-radius: 0.15rem;
    color: #fff;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
  }

  /* hero text */
  #hero-text {
    padding: 50px 10px;
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0;
    padding: 0 15px;
  }

  p {
    line-height: 1.3;
    padding: 0 14px;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 15px;
  }

  /* sign in */

  .form-control {
    display: inline-block;
    height: 2.875rem;
    padding: 1.175rem 3rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: text;
    text-align: center;
    word-spacing: 3px;
    font-size: 16px;
  }

  .form-control:focus {
    outline: none;
  }

  #submit {
    display: block;
    border: none;
    background-color: #e50914;
    color: #fff;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.15rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  #chevron {
    margin-left: 5px;
  }

  /* section */

  #tv-section {
    background-color: black;
    padding: 50px 10px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
  }

  .tv-player img {
    max-width: 80%;
  }
}
